
.normal {
}

.create {
    margin-bottom: 1.5em;
}

.operation a {
    margin: 0 .5em;
}

.icpselector {
    width: 60px;
}

.userfilter {
    display: inline-block;
    float: right;
}

.filtericon {
    float: right;
    padding: 6px 0 0 0;
    width: 26px;
    height: 26px;
    font-size: 16px;
    color: #999;
    cursor: pointer;
}

.filtericon:hover {
    color: #108ee9;
    font-weight: 700;
    font-size: 18px;
}

.show{
    display:inline-block;
}

.hide {
    display: none;
}